<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form
  class="form mt-4"
  [formGroup]="novoUsuarioFormGroup"
  (submit)="cadastrar()"
>
  <div class="form-group">
    <input
      class="form-control"
      placeholder="email"
      formControlName="email"
      required
    />
    <app-message
      *ngIf="
        novoUsuarioFormGroup.get('email')?.errors?.required &&
        novoUsuarioFormGroup.get('email')?.touched
      "
      mensagem="Email Obrigatório!"
    >
    </app-message>
    <app-message
      *ngIf="
        novoUsuarioFormGroup.get('email')?.errors?.email &&
        novoUsuarioFormGroup.get('email')?.touched
      "
      mensagem="Email no formato incorreto!"
    >
    </app-message>
  </div>

  <div class="form-group">
    <input
      class="form-control"
      placeholder="Nome Completo"
      formControlName="fullName"
      required
    />
    <app-message
      *ngIf="
        novoUsuarioFormGroup.get('fullName')?.errors?.email &&
        novoUsuarioFormGroup.get('fullName')?.touched
      "
      mensagem="Nome incorreto!"
    >
    </app-message>
  </div>

  <div class="form-group">
    <input
      class="form-control"
      placeholder="Usuario"
      formControlName="userName"
      required
    />
    <app-message
      *ngIf="
        novoUsuarioFormGroup.get('userName')?.errors?.minusculo &&
        novoUsuarioFormGroup.get('userName')?.touched
      "
      mensagem="Campo usuario deve ser letra minuscula!"
    >
    </app-message>
    <app-message
      *ngIf="
        novoUsuarioFormGroup.get('userName')?.errors?.usuarioExistente
      "
      mensagem="Usuario ja existe!"
    >
    </app-message>
  </div>

  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      formControlName="password"
      required
    />
    <app-message
      *ngIf="
        novoUsuarioFormGroup?.errors?.senhaIgualUser
      "
      mensagem="Campo senha e usuario devem ser diferentes!"
    >
    </app-message>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
</form>

<p>
  Já é um Usuário ?
  <a [routerLink]="['']"> Faça Login! </a>
</p>
